.fc-event {
	border: 0 !important;
	border-radius: 0px !important;
	padding: 12px 10px !important;
	background: $secondary !important;
	color: #111 !important;
	@extend .base-transition;
	
	&:hover {
		background-color: lighten( $secondary, 10% ) !important;
	}

}

.fc-other-month {
	background: #f0f0f0;
}


#calendar {
	max-width: 900px;
	margin: 0 auto;
}

.fc-day-header {
	background: $blue;
	color: #fff;
	padding: 10px 0px !important;
}
.fc-event {
	text-align: center;
}
.expiremessage {
	padding: 10px;
	background: $red;
	color: #fff;
}
