$primary: #003c67;
$secondary: #c7b78e;
$dropshadow: 0px 0px 8px rgba(0,0,0,0.3);

$facebook: #3b5998;
$twitter: #00aced;
$youtube: #bb0000;
$instagram: #517fa4;
$linkedin: #0976b4;

$blue: #1F4D7A;
$red: #AA0036;