.footer {
	border-top: 30px solid darken($secondary, 5%);
	background-color: $secondary;
	color: #000;
	padding: 20px;
	overflow: auto;
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		padding: 0px;
	}
	.hd {
		font-size: 17px;
		color: #000;
		font-weight: bold;
		opacity: 0.6;
		&.alt {
			margin-top: 10px;
			margin-bottom: 0px;
		}
	}
	ul.navv {
		list-style-type: none;
		padding-left: 0;
		padding-top: 5px;
		opacity: 0.9;
		li {
			padding: 3px 0px;
			font-size: 12px;
			line-height: 16px;
			color: #000;
			&.active-n {
				a {
					color: $red;
				}
			}
			a {
				&:hover {
					color: $red;
				}
			}
		}
		@media only screen and (min-width : 320px) and (max-width : 480px) {
			margin-bottom: 20px;
		}
	}
	a {
		color: #000;
		text-decoration: none;
	}
	h4 {
		color: #2D4389;
		line-height: 21px;
		font-size: 18px;
		font-weight: bold;
	}
	.social-icon {
		background-color: $primary;
		display: inline-block;
		margin-top: 10px;
		color: #fff;
	}
	form {
		margin-top: 35px;
		input {
			width: 100%;
			text-align: left;
			padding: 10px;
			margin: 3px 0px;
			color: #000;
			border: 0;
		}
		input[type=submit] {
			background: $red;
			color: #fff;
			font-weight: bold;
		}
	}
}

.copyright {
	border-top: 10px solid darken($primary, 5%);
	background-color: $primary;
	padding: 20px 0px;
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		padding: 10px;
	}
	* {
		color: #fff;
	}
	p {
		@media only screen and (min-width : 320px) and (max-width : 480px) {
			padding: 5px;
			float: left !important;
		}
	}
}
