.field {
		overflow: hidden;
		margin-bottom: 5px;
	label {
		display: inline-block;
		width: 125px;
		text-align: right;
		margin-right: 10px;
	}
	input[type=text], textarea {
		border: 1px solid #555 !important;
		padding: 5px;
		width: 260px;
	}
}

.inline-3 {
	margin-left: 108px;
	label {
		width: auto;
	}
	.field {
		width: 83px;
		float: left;
		margin-right: 5px;
	}
}

.field textarea {
	width: 100%;
}

fieldset {
	padding: 10px;
	margin-bottom: 20px;
}

input[type=submit] {
	border: 0;
	background: none;
	-webkit-appearance: none;
}

input[type=radio] {
	-webkit-appearance: radio;
}

select {

}