#homepage-call-to-action {
	h2 {
		font-size: 36px;
		line-height: 1.2;
		font-weight: normal;
		margin: 0;
		display: table-cell;
		vertical-align: middle;
		height: 118px;
		color: #fff;
	}
	.container {
		padding: 2em;
	}
}
#homepage-slider, #homepage-slide {
	border-top: 30px solid #002d4e;
	margin-top: -20px;
	height: 360px;
	overflow: hidden;
	position: relative;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			width: 100%;
			max-height: 350px;
			overflow: hidden;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.caption {
		background-color: #fff;
		width: 375px;
		height: 244px;
		z-index: 99;
		position: relative;
		float: right;
		margin-left: 800px;
		top: 50px;
		-webkit-box-shadow: 1px 1px 5px #000;
		-moz-box-shadow: 1px 1px 5px #000;
		box-shadow: 1px 1px 5px #000;
		h2 {
			font-size: 24px;
			font-weight: normal;
			margin: 0;
		}
	}
	.caption-inner {
		height: 244px;
		padding: 1em;

	}
	.rslides_nav {
		font-size: 24px;
		margin: 10px;
		position: absolute;
		bottom: 0px;

		&.prev {
			left: 8px;
		}
		&.next {
			right: 8px;
		}
	}
	*[id^="rslides1_s"] {
		height: 400px !important;
	}
}
.sidebar-nav ul a:hover{
	color: #222;
	background-color: lighten( $secondary, 10% );
}

.stuck .desktop-logo {
	display: none;
}

#desktop-logo-sticky{
	display: none;
}

#homepage-slide {
	height: 450px;
	.caption {
		height: 400px;
		word-wrap: break-word;
		h2 {
			font-family: 32px;
		}
	}
}


.stuck {
	padding: 0;
	position: fixed;
	width : 100%;
	z-index: 99999;
	background: url("../../../_images/u114_bot_mid.png");
	.primary_nav {
		height: 50px;
	}
	#desktop-logo, .search_bar_inner {
		display: none !important;
	}
	#desktop-logo-sticky {
		display: block !important;
	}
	li {
		a {
			padding-top: 10px !important;
			padding-bottom: 0px !important;
		}
	}
}
