@import 'screen';
.desktop-header, .page-header, .enroll-btn, hr, #showfoot, .copyright, .sidebar, .sidebar-nav, .the-table:nth-child(2), .c-img, .step {
	display: none !important;
}

img {
	max-height: 120px !important;
	width: auto !important;
}

.mainbody-inner {
	margin-left: 0px;
}

// Confirmation Page
.confirmation-p {
	h1 {
		font-size: 14px !important;
	}
	h2 {
		font-size: 20px !important;
	}
	font-size: 12px !important;
	input[type=disable] {
		max-width: 500px;
		width: 100%;
		font-weight: bold;
	}

}

// Course Page
.c-print {
	.re9, .re6 {
		width: 100% !important;
	} 
	.re3 {
		display: none;
	}
}

.footer {
	display: none;
}

.copyright {
	display: none;
}