@import '_base';
@import '_colors';
@import 'republic/_republic';
@import '_cal';


body {
	overflow-x: hidden;
	background: #F9F9F9;
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		padding-top: 100px;
	}
}

h1,h2,h3,h4,h5,h6 {
	color: $blue;
	line-height: 1.2;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	&.page-title {
		font-size: 70px;
		line-height: 1;
		color: #fff;
		text-transform: capitalize;
		@media only screen and (min-width : 320px) and (max-width : 480px) {
			font-size: 30px;
			padding: 10px;
		}
	}
}
h2 {
	color: $blue;
	font-size: 24px;
	font-weight: 100;
}

a {
	color: $blue;
	text-decoration: none;
	@extend .base-transition;
  	&:hover {
		color: lighten( $blue, 10% );
  	}
	&:focus {
		outline: 0;
  	}
}


// Say yes to underline
article, .footer {
	a:hover {
		text-decoration: underline;
	}
}
// Say NO to underlines
ul.tabs li {
	a:hover {
		text-decoration: none;
	}
}
img {
	max-width: 100%;
	height: auto;
}


/*******************************************************

	Utility Styles

*******************************************************/

.tabc {
	width: 24%;
	box-sizing: padding-box;
}
.tabs, .tabc {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
}

.tabs {
	[class^="tab-"] {
		padding: 20px 10px;
		border-bottom: .5em solid #d5c49c;
	}
	.tabc {
		padding: 0px 10px;
		border-bottom: .5em solid #d5c49c;
	}
}

[class^="tab-"], .tabc {
	display: inline-block;
	&.active {
		background-color: $blue;
		background-image: url(../../_images/cta_bg_sidebar.png);
		background-repeat: no-repeat;
		background-position: center;
		color: white;
		h2 {
			color: white !important;
		}
	}
	a {
		color: black;
		display: block;
	}
	h2 {
		font-size: 32px;
		margin: 0;
		cursor: pointer;
	}
}

.tab-content {
	display: none;

}
.tab-content.active {
	display: block;
}


.brand-wrap-inner {
	background-image: url(../../../_images/cta_bg.png);
	background-position: 50% 50%;
}

hr {
	background-color: #d5c49c;
	box-shadow: 0px 0px 0.7px rgba(0,0,0,0.3);
	height: .5em;
	border: none;
}

.wrap {
	max-width: 1200px;
	position: relative;
}

.wrap-outer {
	background: $primary url(../../_images/cover.png) center center !important;
	display: block;
	height: auto;
	overflow: auto;

	&.page-header {

		width: 100%;
		padding: 60px 0px;
		margin-top: -19px;
		margin-bottom: 20px;
		
		@media only screen and (min-width : 320px) and (max-width : 480px) {
			padding: 10px 0px;
		}
		
	}
}

.header_wrap {
	height: 56px;
	background-color: $primary;
	.search_wrapper {
		input[type=submit] {
			margin-left: 10px;
		}
	}
	.container {
		position: relative;
	}
	.ss {
		color: #fff;
		line-height: 0;
		text-align: center;
		margin-bottom: -2px;
		height: 56px;
		&:hover {
			color: #fff;
		}
		&.facebook:hover {
			background-color: $facebook;
		}
		&.twitter:hover {
			background-color: $twitter;
		}
	}
	.header-btn {
		font-size: 21px;
		display: inline-block;
		color: #fff;
		padding: 15px 20px;
		margin-left: -5px;
		height: 56px;
		position: relative;
		line-height: 0;
		text-align: center;
	}
	.register-btn {
		background-color: $red;
		padding-top: 28px; // THIS BUTTON IS F**K UP
	}
	.search {
		box-sizing: border-box;
		margin-bottom: 12px;
		padding: 7px;
		width: 150px;
		margin-left: 8px;
	}
	.upper-nav {
		height: 56px;
		overflow: hidden;
		padding-left: 25%;
		box-sizing: border-box;
	}
	.logo {
		left: 0;
		position: absolute;
		top: 0;
		z-index: 9999;
		margin-top: -7px;
	}
	input {
		color: #111;
	}
}

.primary_nav {
	
	background-color: #fff;
	color: $primary;

	ul {
		padding: 0;
		margin: 0;
	}
	ul.top-level {
		margin-left: 300px;
		& > li {
			display: inline-block;
			position: relative;
			& > a {
				color: $primary;
				display: block;
				font-size: 20px;
				padding: 45px 20px;
				&:hover {
					-webkit-box-shadow: 0px 0px 20px -5px #676767;
					-moz-box-shadow: 0px 0px 20px -5px #676767;
					box-shadow: 0px 0px 20px -5px #676767;
				}
			}
			&:hover {
				.sub-menu {
					display: block;
				}
		  	}
		}
  	}
	ul.sub-menu {

		position: absolute;
		display: none;
		left:0px;
		width: 150px;
		z-index: 999;
		background-color: $secondary;
		top: 111px;

		li {
			display: block;
			a {
				font-size: 12px;
				color: #000;
				text-align: left;
				padding: 10px;
				display: block;
				&:hover {
					background-color: lighten($secondary, 10%);
				}
			}
			.sub-sub-menu {
				display: none;
				margin-left: 150px;
				margin-top: -34px;
				width: 200px;
				background-color: darken(#fff, 5%);
				position: absolute;
			}
			&:hover {
				.sub-sub-menu {
					display: block;
				}
			}
		}
	}
}

.mobile-header {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	.logo {
		a {
			width: 100%;
			display: block;
			img {
				width: 100%;
			}
		}
	}
	button {
		width: 100%;
		padding: 20px 0px;
		color: #fff;
		margin-top: -5px;
		background: $red;
	}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.desktop-header {
		display: none;
	}
	.mobile-header {
		display: block;
	}
}

.home-cta {
	padding-bottom: 30px;
	h2 {
		color: #fff;
		font-size: 30px;
		margin-top: 30px;
	}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		.cta-btn {
			width: 100%;
		}
	}
}

.wrap-outer {
	border-top: 30px solid darken($primary, 5%);
	background: $primary;
}

.sections-container {
	overflow: auto;
	padding: 50px 0px;
	.section-inner {
		max-width: 323px;
		padding: 10px;
		@media only screen and (min-width : 320px) and (max-width : 480px) {
			max-width: 100%;
		}
		h2 {
			padding: 10px 5px;
			font-weight: bold;
		}
		p {
			padding: 5px;
			color: #111;
			line-height: 20px;
			opacity: 0.8;
		}
	}
	.fe-image {
		width: 100%;
		height: 250px;
		display: block;
		box-shadow: $dropshadow;
	}
}

.sections-container-alt {
	overflow: auto;
	padding: 50px 0px;
	.section-inner {
		max-width: 323px;
		padding: 10px;
		@media only screen and (min-width : 320px) and (max-width : 480px) {
			max-width: 100%;
		}
		h2 {
			padding: 10px 5px;
			font-weight: bold;
			color: #fff;
			a {
				color: #fff;
			}
		}
		p {
			padding: 5px;
			color: #111;
			line-height: 20px;
			opacity: 0.8;
		}
	}
	.fe-image {
		width: 100%;
		height: 250px;
		display: block;
		box-shadow: $dropshadow;
	}
}

article {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #494949;
	padding-bottom: 30px;
	a {
		color: $red;
	}
	h2 {
		padding: 10px 0px;
	}
	ul {
		margin-left: 50px;
		padding: 5px 0px;
		li {
			list-style: circle;
			padding: 0px 0px;
		}
		&.tabs {
			margin: 20px 0px;
		}
	}
	hr {
		margin-bottom: 10px;
	}
	iframe {
		width: 100%;
	}
}

.page-p {
	padding: 50px 0px;
}

.email-logo {
	margin-left: 80px;
}

#course {
	list-style: none;
	display: inline;
	padding: 10px;

	.image {
		width: 100%;
		height: 160px;
		display: block;
	}
	p {
		color: #222;
	}
	.popup {
		display: none;
	}

	a {
		display: block;
		@extend .base-transition;
	}

	a:hover {
		text-decoration: none;
		opacity: .8;
	}

	&:hover {
		
		.popup {
			display: block;
			position: absolute;
			z-index: 999;
			width: 500px;
			height: 250px;
			background: #fff;
			top: 0;
			left: 0;
			margin-top: -200px;
			margin-left: -400px;
			background: #fff;
			padding: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 10px;
			box-shadow: 0 0 10px #555;
			.image {
				width: 200px;
				height: 200px;
				float: left;
				margin-right: 10px;
			}
			h3 {
				margin: 0px;
				font-weight: bold;
			}
			p {
				padding-top: 20px;
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
	h2 {
		line-height: 25px;
		font-size: 18px;
		font-weight: bold;
	}
}

.c-info {
	ul {
		margin-top: -10px;
		margin-left: 25px;
	}
}
.the-table {
	margin: 20px 0px;
	.step {
		padding: 1px 10px;
		margin-right: 10px;
		padding-top: 5px;
		color: #fff;
		border-radius: 10px;
		font-size: 14px;
		background: rgba(#000, 0.2);
		display: inline-block;
		text-transform: uppercase;
		position: absolute;
		margin-left: -80px;
	}
}

.c-body {
	.text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #494949;
		p {
			padding: 10px 0px;
		}
		ul {
			margin-left: 20px;
			margin-top: 0px;
			li {
				list-style: circle;
				padding: 5px 0px;
				line-height: 18px;
			}
			&.tabs {
				margin: 20px 0px;
			}
		}
	}
	h3 {
		margin-top: 20px;
	}
}

.single-course {
	padding: 10px;
}

.class-list {
	padding-bottom: 50px;
	a {
		color: #111;
		padding: 5px 0px;
		font-size: 18px;
		line-height: 25px;
		display: block;
		&:hover {
			color: $blue;
		}
	}
}

.incompany {
	h3 {
		font-size: 26px;
		margin-top: 15px;
		padding-bottom: 10px;
		display: block;
	}
	ul {
		margin-left: 20px;
		margin-top: 0px;
		li {
			list-style: circle;
			padding: 5px 0px;
			line-height: 18px;
		}
		&.tabs {
			margin: 20px 0px;
		}
	}
	.subhead {
		font-size: 56px;
	}
}

.glossary {
	.subhead {
		font-size: 56px;
	}
	dl {
		padding: 5px 0px;
	}
}

.theblog {
	a {
		color: #000;
	}
}

#homepage-slider, #homepage-slide {
	h2 {
		font-size: 32px;
		font-weight: bold !important;
		display: block;
		padding-bottom: 10px;
	}
	p {
		line-height: 120%;
	}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		img {
			display: none !important;
		}
		.caption {
			width: 90%;
			float: none;
			margin: 0px auto;
		}
		background: darken($blue, 10%);
	}
}

#homepage-slide {
	margin-top: -20px;
}

.search {
	h3 {
		a {
			color: $blue;
		}
	}
}

.status {
	width: 100%;
	display: block;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	color: rgba(#111, 0.6);
	font-style: 45px;
	background: $secondary;
}


.calendar-list {
	h3 {
		font-size: 23px;
		font-weight: bold;
		line-height: 28px;
		display: block;
		& > span {
			font-weight: normal;
			color: $red;
			font-size: 90%;
		}
	}
}


.fb-comments {
	margin-top: 20px;
	display: block;
	overflow: auto;
}

.enroll-s {
	h2 {
		font-weight: 700 !important;
		padding: 10px 0px;
	}
	hr {
		margin-bottom: 20px;
	}
	ul {
		padding: 5px 0px;
	}
	.mainbody-inner {
		margin-left: 200px;
		@media only screen and (min-width : 320px) and (max-width : 480px) {
			padding: 5px;
		}
	}
}

.confirmation-p {
	h1 {
		font-size: 24px;
		padding-top: 10px;
		padding-bottom: 5px;
		font-weight: bold;
		opacity: 0.9;
		&.alt {
			color: $red;
			font-size: 18px;
			padding: 5px 0px;
		}
	}
	p {
		font-size: 16px;
		font-weight: normal;
	}
	hr {
		margin-top: 20px;
	}
	h2 {
		color: $red;
		font-size: 30px;
		padding: 10px 0px;
		margin-bottom: 20px;
	}
}

input[type=disable] {
	max-width: 700px;
	width: 100%;
	font-weight: bold;
}

#showfoot {
	margin-top: -100px;
	position: absolute;
}

.scroller {
  position: relative;
  overflow: hidden;
  .container{
	position: relative;
  }
  .headline{
	font-size: 36px;
	line-height: 36px;
	color: $primary;
  }
}

.slider_caption_outer{
	position: absolute;
	top: 22%;
	width: 100%;
}

.slider_caption_inner{
	background-color: white;
	background-image: url(../../../_images/shadowed_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	color: black;
	max-width:375px;
	padding: 1em;
	position: absolute;
	right: 0;
	width: 100%;
	.read_more{
		font-size: 24px;
		font-weight: bold;
		color: $primary;
	}
}

.btn{
	display: block;
	background-color: $secondary;
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 36px;
}
.button-blue {
	background-color: $blue;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	border: 0;
	outline: 0;
	@extend .base-transition;

	&:hover {
		color: #fff;
		background-color: lighten( $blue, 10% );
	}
}

.cta-btn {
	margin-top: 30px;
	width: 80%;
	padding: 10px 15px;
	font-size: 36px;
	float: right;
	box-shadow: 1px 1px 0.4px rgba(0,0,0,0.1);
	font-weight: 600;
	-webkit-box-shadow: 1px 1px 8px -3px #000;
	-moz-box-shadow: 1px 1px 8px -3px #000;
	box-shadow: 1px 1px 8px -3px #000;
	&:hover {
		background-color: #A90036;
		color: #fff;
	}
}
.cta-text {
	font-size: 36px;
	margin: 60px 0;
}



/************************************************

  Blog Posts

*************************************************/
.blog-wrap-inner {
 	padding: 60px 0;
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		padding: 0px;
	}
}

.blog-wrap-inner .panel:first-child {
  padding-left: 0;
}

.blog-wrap-inner .panel:nth-child(2) {
  padding-right: 0;
}

.blog-wrap-inner .panel{
	padding: 0 4em;
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		padding: 0px;
	}

}

.page {
	.cta-text {
		font-size: 72px;
		line-height: 86px;
	}
	.brand-wrap-inner {
		background-color: #1f4d7a;
	}
	.header_wrap {
		padding-bottom: 0;
	}
}

.sidebar-cta {
	margin-top: 36px;
}

.sidebar-cta-lower {
	background-color: $secondary;
	padding: 1em;
	text-align: center;
	a {
	  color: #000;
	  display: block;
	  font-size: 24px;
	  text-decoration: none;
	}
}

.sidebar-nav {
	background-color: $secondary;
	h3 {
		padding: 0;
		margin:0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style:none;
		li {
			font-size: 16px;
			line-height: 22px;
			word-wrap: break-word;
		}
		a {
			color: #000;
			display:block;
			padding: 10px;
		}
	}
	.letter {
		line-height: 29px;
		font-size: 24px;
		width: 40px;
		display: inline-block;
		text-align: center;
		margin: 5px 0px;
		a.active {
			color: #000;
			font-weight: bold;
		}
  	}
  	p {
	  	padding-left: 10px;
	  	text-transform: uppercase;
  	}
  	input {
	  	margin: 10px;
	  	padding: 10px;
	  	max-width: 260px;
	  	width: 100%;
  	}
  	input[type=submit] {
	  	background: $red;
	  	color: #fff;
	  	margin-top: -10px;
  	}
}

h3.sidebar-header {
	display: block;
	background-color: $blue;
	background-image: url(../../_images/cta_bg_sidebar.png);
	background-repeat: no-repeat;
	font-size: 36px;
	padding: 10px;
	background-size: cover;
	color: white;
	text-transform: capitalize;
}

.subhead {
	font-size: 36px;
	color: $primary;
	font-weight: bold;
}

.mainbody-inner {
	margin-left: 4em;
	article {
		h2 {
			font-weight: bold;
		}
		@media only screen and (min-width : 320px) and (max-width : 480px) {
			padding: 5px;
		}
	}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		margin-left: 0px;
		padding: 5px;
	}
}

.sidebar-cta-inner {
  background-color: $blue;
  background-image: url(../../_images/cta_bg_sidebar.png);
  background-repeat: no-repeat;
  color: white;
  padding: 40px 10px;
  font-size: 24px;
}

.blog .subhead{
  margin-top:0;
  font-size: 24px;
  font-weight: 600;
  height: 58px;
  line-height: 29px;
}


.blog-menu section{
  padding-left: 2em;
}


.terms{
	dt, dd{
		display:inline;
	}
	dt{
		font-weight: 800;
	}
	dd{
		margin-left: 10px;
		line-height: 25px;
	}
}


.courses {
	list-style: none;
	#course {
		list-style: none;
	display: inline;
		padding: 10px;
		.image {
			width: 100%;
			height: 160px;
			display: block;
		}
		p {
			color: #222;
		}
		.popup {
			display: none;
		}
		&:hover {
			.popup {
				display: block;
				position: absolute;
				z-index: 999;
				width: 500px;
				height: 250px;
				background: #fff;
				top: 0;
				left: 0;
				margin-top: -200px;
				margin-left: -400px;
				background: #fff;
				padding: 10px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				border-bottom-left-radius: 10px;
				box-shadow: 0 0 10px #555;
				.image {
					width: 200px;
					height: 200px;
					float: left;
					margin-right: 10px;
				}
				h3 {
					margin: 0px;
					font-weight: bold;
				}
				p {
					padding-top: 20px;
					font-size: 14px;
					line-height: 16px;
				}
			}
		}
		h2 {
			line-height: 25px;
			font-size: 18px;
			font-weight: bold;
		}
	}
}

.enroll-btn {
	padding: 10px 60px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	background: #124E8A;
	&:hover {
		background: $red;
	}
}


.sort {
	background: $secondary;
	padding: 20px;
	height: 70px;
	input, select {
		border: 1px solid darken($secondary, 20%);
		width: 300px;
		padding: 0px 10px;
		height: 30px
	}
	input {
		float: right;
	}
}


.search_wrapper {
	input[type=submit] {
		color: #fff;
	}
	form {
		display: inline;
		margin-top: 5px;
	}
}

.social-media-wrap {
	img {
		height: 75px;
		box-shadow: 0 0 5px #444;
	}
	a {
		margin-right: 10px;
		display: inline-block;
	}
}

.single-course {
	.image {
		width: 90%;
		height: 310px;
		display: block;
	}
	h2 {
		line-height: 43px;
		font-size: 36px;
		font-weight: bold;
	}
	strong {
		color: $blue;
	}
	h3 {
		font-size: 25px !important;
		line-height: 35px;
		margin-bottom: 0px;
		font-weight: bold;
	}
}

.the-table {
	table {
		th {
			padding-left: 10px;
			text-align: left;
			color: $blue;
		}
		.head {
			background: $blue;
			p {
				padding: 5px 10px;
				margin: 0px;
				color: #fff;
				font-size: 11px;
				a {
					color: #fff;
				}
			}
			a {
				color: #fff;
			}
		}
		.fees {
			padding: 10px 0px;
			background: #DCDCDC;
			input {
				margin: 8px;
				margin-left: 15px;
			}
		}
	}
	.enroll {
		width: 52%;
		padding: 10px 0px;
		background: #DCDCDC;
		height: 60px;
		float: right;
		button {
			float: right;
			margin-right: 10px;
			border: 0;
			padding: 5px 35px;
			font-size: 24px;
			text-align: center;
			color: #fff;
			background: #124E8A;
		}
		#fee-qty {
			width: 100px;
			margin: 0px;
			padding: 10px;
		}
	}
}

#enroll-view {
	display: none;
}
.homepage-posts-container {
	border-top: 10px solid #003c67;
	border-bottom: 10px solid #003c67;
	background-color: $blue;
	background-image: url( ../../../_images/home-blog-section.png );
	background-position: 50% 50%;
	min-height: 300px;
	padding: 20px 0px;

	p,a,h2 {
		color: #fff;
	}
	.pure-u-1:nth-child(odd) {
		padding-right: 75px;
	}
	.pure-u-1:nth-child(even) {
		padding-left: 75px;
	}
}


.incompany {
	h3 {
		font-weight: bold;
		margin-bottom: 0px;
	}
}

.profile-pic {
	height: 200px;
	width: 200px;
	display: inline-block;
	text-align: left;
	float: left;
	margin-right: 10px;
}

.add-registrants, .add-registrants-online {
	padding: 10px 20px;
	color: #fff;
	background: $blue;
	margin: 5px auto;
	display: block;
	margin-bottom: 100px;
}

.head-participants {
	font-size: 30px;
	color: $blue;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 5px;
}

.parti {
	button {
		padding: 10px 25px;
		display: block;
		text-align: center;
		background: $red;
		float: right;
		margin-top: 8px;
		color: #fff;
		margin-right: 66px;
	}
}

.cl-content {
	font-size: 12px;
	padding-top: 10px;
}

.cl-button {
	width: 100%;
	background: $blue;
	padding: 20px;
	color: #fff;
	margin-bottom: -2px;
}

.data-table {
	width: 100%;
	thead {
		border-bottom: .5em solid #d5c49c;
		tr {
			color: $blue;
			text-align: left;
		}
	}
	tbody {
		tr {
			p {
				display: inline-block;
				padding: 5px 0px;
			}
		}
	}
}

.co-header {
  font-size: 30px;
  line-height: 33px;
  font-weight: 600;
  padding: 30px 10px;
}

.ipec-box {
	height: 360px;
	.img {
		height: 200px;
		width: 100%;
	}
	.blue {
		height: 160px;
		background-color: $blue;
		background-image: url(../../_images/cta_bg_sidebar.png);
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
		padding: 10px;
		position: relative;
		line-height: 18px;
		h4 {
			color: #fff;
			font-size: 30px;
			font-weight: bold;
		}
		.buttons {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px;
		}
		button {
			background: $secondary;
			padding: 5px 10px;
			color: #000;
		}
	}
}

.ipec-section {
	h2 {
		font-size: 34px;
	}
}

.logos {
	background: #fff;
	padding: 15px 0px;
	img {
		padding: 10px 20px;
		height: 60px;
	}
}

.tinymce, article, .caption-inner {
	@for $i from 1 through 6 {
    	h#{$i} {
			font-size: 40 / $i * 2px;
	    }
	}
}


.mainbody-inner {
	table {
		padding: 0px;
		margin: 0px;
		td {
		    line-height: 150%;
		}
	}
}

.tab-buttons {
    margin: 10px auto;
    width: 80%;
	display: block;
	button {
		margin: 5px auto;
    	display: block;
	}
}

#fb-root {
	display: none;
}

.red {
	background-color: red;
	color: #fff;
}



@import '_form';
@import '_homepage';
@import '_footer';
