#fixed {
	margin-top: 70px;
}

.space-it {
	margin-top: 8px;
}


.modal-tag-list {
	height: 220px;
	overflow-y: scroll;
	margin:0;
	padding:0px;
}
#new-course-tag .alert,
#new-course-category .alert {
	position: absolute;
	top: -33px;
	padding: 3px 12px;
}
#new-course-tag,
#new-course-category {
	margin-top: 20px;
}

.panel {
	/*display: none;*/
}
.show-only {
	display: block;
}
#current-venue-container {
	background-color: #E2E2E2;
	padding: 15px;
	border-radius: 5px;
}

ul.wysihtml5-toolbar > li {
	margin-bottom: 0px !important;
}

textarea.editor {
	margin-bottom: 20px;
}

html, body {
  background: #dddddd; }


.table {
	background: #fff;
	margin-top: 10px;
	border: 1px solid #dddddd;
}

.bs-example-modal-sm {
  margin-top: 200px;
  padding: 10px; }

.modal-sm {
  width: 400px; }

.navber-inverse, .navbar {
  background: #205180; }

.navbar-inverse .navbar-brand {
  color: #fff; }

.navbar-nav li a {
  color: #fff !important; }
.navbar-nav .dropdown-menu li a {
  color: #205180 !important; }
.navbar-nav .dropdown-menu li.active a {
  color: #fff !important; }
.navbar-nav .active a {
  background: #003359 !important; }

.panel-heading {
  background: #caba90 !important;
  color: #111 !important; }
  .panel-heading.alt-head {
	background: #EFEFEF !important; }

.btn-success {
  background: #205180;
  border: 1px solid #205180; }
  .btn-success:hover {
	background: #3985cd; }
  .btn-success:foucs {
	background: #3985cd; }

.btn-primary, .alert-success {
  background: #35608a;
  border: 1px solid #35608a;
  color: #fff;
}

.btn-danger {
  background: #aa0035;
  border-color: #aa0035; }

th {
  background: #caba90; }

.btn-info {
  background: #444;
  border-color: #444; }
  .btn-info:hover {
	background: #000;
	border-color: #444; }
  .btn-info:focus {
	background: #000;
	border-color: #444; }

.datepicker-popover {
  z-index: 9999 !important; }


.allcaps {
	text-transform: capitalize;
}

.mce-statusbar {
	display: none !important;
}

.mce-container {
	box-sizing: border-box !important;
}

.modal-body {
	position: relative;
	padding: 15px;
	max-height: 600px;
	height: 100%;
	overflow: auto;
}
#ui-datepicker-div {
	background-color: #fff;
    padding: 3px;
    border: 1px solid #eee;
    width: 180px;
    /*height: 200px;*/
}
#ui-datepicker-div table {
	table-layout: fixed;
	width: 100%;
}
/*#ui-datepicker-div td,*/
#ui-datepicker-div th {
	padding: 3px;
}
#ui-datepicker-div td a {
	display: block;
	padding: 3px;
	text-align: center;
}

#ui-datepicker-div td a:hover,
#ui-datepicker-div td a.ui-state-active {
	color: #fff;;
	background-color: #428bca;
	text-decoration: none;
}

