<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<img src="http://cese.s3.amazonaws.com/1425241453.png" width="120px"/>
<h1>IPEC Abstract Submission</h1><br>
<strong>Subject</strong> {{subject}}
<br><br>
<h2>Author</h2><br>
<strong>Name of Primary Author</strong>: {{Name_of_Primary_Author}}<br/>
<strong>Company / Affiliation</strong>: {{Company_/_Affiliation}}<br/>
<strong>Address</strong>: {{Address}}<br/>
<strong>City</strong>: {{City}}<br/>
<strong>State</strong>: {{State}}<br/>
<strong>Zip</strong>: {{Zip}}<br/>
<strong>Country</strong>: {{Country}}<br/>
<strong>Phone</strong>: {{Phone}}<br/>
<strong>Email_Address</strong>: {{Email_Address}}<br/>
<strong>Presenter's_Name</strong>: {{Presenter's Name}}<br/>
<strong>Presenter's_Email</strong>: {{Presenter's Email}}<br/>
<br/><br/>

{{#First_Co-Author}}					
<h2>First Co-Author</h2><br>			
<strong>Co-Author</strong>: {{First_Co-Author}}<br>
<strong>Co-Author Company / Affiliation</strong>: {{First_Co-Author_Company_/_Affiliation}}<br>
<strong>Co-Author Address</strong>: {{First_Co-Author_Address}}<br>
<strong>Co-Author City</strong>: {{First_Co-Author_City}}<br>
<strong>Co-Author State</strong>: {{First_Co-Author_State}}<br>
<strong>Co-Author Zip</strong>: {{First_Co-Author_Zip}}
<strong>Co-Author Country</strong>: {{First_Co-Author_Country}}<br>
{{/First_Co-Author}}

{{#Second_Co-Author}}					
<h2>Second Co-Author</h2><br>			
<strong>Co-Author</strong>: {{First_Co-Author}}<br>
<strong>Co-Author Company / Affiliation</strong>: {{First_Co-Author_Company_/_Affiliation}}<br>
<strong>Co-Author Address</strong>: {{First_Co-Author_Address}}<br>
<strong>Co-Author City</strong>: {{First_Co-Author_City}}<br>
<strong>Co-Author State</strong>: {{First_Co-Author_State}}<br>
<strong>Co-Author Zip</strong>: {{First_Co-Author_Zip}}
<strong>Co-Author Country</strong>: {{First_Co-Author_Country}}<br>
{{/Second_Co-Author}}

{{#Third_Co-Author}}					
<h2>Third Co-Author</h2><br>			
<strong>Co-Author</strong>: {{First_Co-Author}}<br>
<strong>Co-Author Company / Affiliation</strong>: {{First_Co-Author_Company_/_Affiliation}}<br>
<strong>Co-Author Address</strong>: {{First_Co-Author_Address}}<br>
<strong>Co-Author City</strong>: {{First_Co-Author_City}}<br>
<strong>Co-Author State</strong>: {{First_Co-Author_State}}<br>
<strong>Co-Author Zip</strong>: {{First_Co-Author_Zip}}
<strong>Co-Author Country</strong>: {{First_Co-Author_Country}}<br>
{{/Third_Co-Author}}

{{#other}}
<br>
<strong>Other Co-Authors</strong>:{{other}}
{{/other}}
<br>
<strong>Abstract</strong>:{{abstract}}

<br>				
<table>
	<tr>
		<td><strong>The University of Tulsa</strong></td>
	</tr>
	<tr>
		<td>Continuing Engineering & Science Education (CESE)</td>
	</tr>
	<tr>
		<td>800 South Tucker Drive</td>
	</tr>
	<tr>
		<td>Tulsa, OK 74104</td>
	</tr>
	<tr>
		<td>Phone: (918) 631-3088</td>
	</tr>
	<tr>
		<td>Fax: (918) 631-2154</td>
	</tr>
	<tr>
		<td><a href="mailto:cese@utulsa.edu">cese@utulsa.edu</a></td>
	</tr>
</table>

</body>
</html>
