<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<img src="http://cese.s3.amazonaws.com/1425241453.png" width="120px"/>
<h1>{{h1}},</h1>
<p>{{message}}</p>
<br/>
<hr>
<br/>
<table class="mo">
	{{#group}}
		{{.}}
	{{/group}}
</table>
{{#2}}
<h2>{{group_title}}</h2>
<br/>
<hr>
<br/>
<table class="mo">
	{{#group2}}
		{{.}}
	{{/group2}}
</table>
{{/2}}
{{#3}}
<br/>
<hr>
<br/>
<table class="mo">
	{{#group3}}
		{{.}}
	{{/group3}}
</table>
{{/3}}
{{#4}}
<br/>
<hr>
<br/>
<table class="mo">
	{{#group4}}
		{{.}}
	{{/group4}}
</table>
{{/4}}
{{#5}}
<br/>
<hr>
<br/>
<table class="mo">
	{{#group5}}
		{{.}}
	{{/group5}}
</table>
{{/5}}
{{#6}}
<br/>
<hr>
<br/>
<table class="mo">
	{{#group6}}
		{{.}}
	{{/group6}}
</table>
{{/6}}
{{#7}}
<br/>
<hr>
<br/>
<table class="mo">
	{{#group7}}
		{{.}}
	{{/group7}}
</table>
{{/7}}
{{#8}}
<br/>
<hr>
<br/>
<table class="mo">
	{{#group8}}
		{{.}}
	{{/group8}}
</table>
{{/8}}
{{#9}}
<br/>
<hr>
<br/>
<table class="mo">
	{{#group9}}
		{{.}}
	{{/group9}}
</table>
{{/9}}
{{#10}}
<br/>
<hr>
<br/>
<table class="mo">
	{{#group10}}
		{{.}}
	{{/group10}}
</table>
{{/10}}
<br/>

{{#course_S}}
<h2>Course</h2>
{{/course_S}}

{{#course}}
<table class="mo">
	{{.}}
</table>
{{/course}}

{{#venue_S}}
<h2>Venue</h2>
{{/venue_S}}

{{#venue}}
<table class="mo">
	{{.}}
</table>
{{/venue}}


<table>
	<tr>
		<td class="padding">
			{{^enroll}}
			<p><a href="http://cese.utulsa.edu" class="btn-primary">Go to CESE Admin</a></p>
			{{/enroll}}
		</td>
	</tr>
</table>
{{#footer}}
	<p>{{.}}</p>
{{/footer}}
<br/>

<table>
	<tr>
		<td><strong>The University of Tulsa</strong></td>
	</tr>
	<tr>
		<td>Continuing Engineering & Science Education (CESE)</td>
	</tr>
	<tr>
		<td>800 South Tucker Drive</td>
	</tr>
	<tr>
		<td>Tulsa, OK 74104</td>
	</tr>
	<tr>
		<td>Phone: (918) 631-3088</td>
	</tr>
	<tr>
		<td>Fax: (918) 631-2154</td>
	</tr>
	<tr>
		<td><a href="mailto:cese@utulsa.edu">cese@utulsa.edu</a></td>
	</tr>
</table>

</body>
</html>
		