{{#0}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/0}}

{{#1}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/1}}

{{#2}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/2}}

{{#3}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/3}}

{{#4}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/4}}

{{#5}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/5}}

{{#6}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/6}}

{{#7}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/7}}

{{#8}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/8}}

{{#9}}
	{{^expired}}
	<input 
		type="radio" 
		name="fee" 
		value="{{venue}} | {{start_date}} | {{rate_u}}" 
		{{#multiple}}class="m-registrants"{{/multiple}} 
		{{^multiple}}class="s-registrants"{{/multiple}} 
		required>
	<b>{{rate}} {{title}}</b>
	<br/>
	{{/expired}}
{{/9}}

{{#notes}}
<br clear="all"/><br/>
<div style="padding: 0px 40px; ">
	<p style="font-weight: bold">Additional Information</p>
	{{{notes}}}
</div>
<br/>
{{/notes}}